body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote {
  font-family: Arial, Helvetica, sans-serif;
}

header#header {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-left: 25px;
  box-shadow: 0px 10px 30px #eee;
}

header#header > h1 {
  margin: 0;
  font-size: 2rem;
}

header > p {
  font-size: 1.1rem;
  padding-bottom: 45px;
  padding-left: 25px;
  font-style: italic;
}

header#header * {
  display: inline;
}

main {
  padding: 50px;
}

.entry {
  width: 50%;
  margin: 25px auto;
  height: auto;
  padding: 15px;
  border-radius: 20px;
  background: #fff9fb;
  box-shadow: 20px 20px 60px #d9d4d5, -20px -20px 60px #ffffff;
}

.entry h2 {
  text-align: center;
}

.entry div img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 1px 5px 5px grey;
}

.entry div p {
  margin: 0;
  font-style: italic;
  font-size: 0.85rem;
}

blockquote {
  font-style: italic;
}

blockquote::before {
  content: '"';
}

blockquote::after {
  content: '"';
}

footer {
  text-align: center;
}
